.MuiPaper-root {
  background: rgb(54, 119, 0);
  background: linear-gradient(
    90deg,
    rgba(54, 119, 0, 1) 0%,
    rgba(26, 177, 0, 1) 4%,
    rgba(50, 179, 3, 1) 44%,
    rgba(50, 179, 3, 1) 48%,
    rgba(26, 177, 0, 1) 96%,
    rgba(15, 142, 0, 1) 100%
  );
}

.css-6hp17o {
  background: green!important;
}

.MuiButton-root {
  background-color: #038f2f!important;
  margin: 2px;
}

/* .MuiBox-root{
  justify-content: space-evenly !important;
} */

img{
  width: 4rem;
}

.MuiAvatar-root{
  background-color: #038f2f!important;
}

.MuiButton-root{
  left: 40px !important;
  margin-left: 20px !important;
}

.MuiButtonBase{
  left: 40px !important;
  margin-left: 40px;
}
