.card {
    margin: 5rem;
    width: 18rem;
    bottom: 50px;
}

.card_img {
    margin: 0rem;
    size: 286x180;
    position: relative;
}

.search {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 1.5em;
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

.search input {
    border: none;
    background-color: rgb(233, 233, 233);
    width: 100%;
}

.search input:focus {
    outline: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

