.sign_up {
    padding: 5rem;
    display: flex;    
    justify-content: center;
    margin-top: 30px;
}

.btn-register{
    color: #000000 !important;
    background-color: #85bd39 !important;
}

.link_validation{
    color: #000000 !important;
}

.linksignup{
    color: #000000 !important;
}

.checkbox{
    color: #000000 !important;
}

.login{
    margin-bottom: 50px !important;
}