/* body, 
html,
.app {
  min-height: 100vh;
  height: 100vh;
} */

body{
  background: #CBE9D8!important;
  min-height: 100vh;
}

.contents {
  flex: 1;
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex: 1;
}
